<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="batchJob" type="EricNee.BatchJob.Core.JobConfigurationSection, EricNee.BatchJob.Core"></section>
    <section name="scheduler" type="EricNee.BatchJob.Core.SchedulerConfigurationSection, EricNee.BatchJob.Core"></section>

  </configSections>
  <scheduler executorPath="EricNee.BatchJob.Executor.exe"></scheduler>
  <batchJob>
    <jobs>
      <add jobId="1" jobName="Test" typeFullName="EricNee.BatchJob.TestJob.TestJob" assemblyName="EricNee.BatchJob.TestJob" cron="0 */2 * * * *"></add>
    </jobs>
  </batchJob>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="true">
      <listeners>
        <add initializeData="Exception.log" type="System.Diagnostics.TextWriterTraceListener" name="Exception"></add>
      </listeners>
    </trace>

  </system.diagnostics>

</configuration>