<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BatchJob" type="EricNee.BatchJob.Core.JobConfigurationSection, EricNee.BatchJob.Core"></section>
    <section name="Scheduler" type="EricNee.BatchJob.Scheduler.SchedulerConfigurationSection, EricNee.BatchJob.Scheduler"></section>

  </configSections>
  <Scheduler ExecutorPath="EricNee.BatchJob.Executor.exe"></Scheduler>
  <BatchJob>
    <Jobs>
      <add JobId="1" JobName="Test" TypeFullName="EricNee.BatchJob.TestJob.TestJob" AssemblyName="EricNee.BatchJob.TestJob" Cron="0 */2 * * * *"></add>
    </Jobs>
  </BatchJob>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="true">
      <listeners>
        <add initializeData="Exception.log" type="System.Diagnostics.TextWriterTraceListener" name="Exception"></add>
      </listeners>
    </trace>

  </system.diagnostics>

</configuration>